/*  Formatação do nav - MENU */
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Inconsolata');




p{   /* paragrafo*/ 

  text-align: justify;
  text-indent: 50px;
}

a{

color: #606060;
text-decoration: none;


}
a:hover {



	text-decoration: underline;
}
nav#menu ul {   /* bloco ul*/

	
	list-style: none;
	text-transform:uppercase;
	position: absolute;
	top: -20px;
	padding-left: 250px;
	
}

nav#menu li{/* itens dentro do bloco */

	display:inline-block;
	background-color: #dddddd;
	padding: 10px;
	margin:2px;
	-webkit-transition: background-color 1s;
    -o-transition: background-color 1s;
    transition: background-color 1s;
}

nav#menu li:hover{   /* hover quando se passao mouse ele da um efeito no link*/

	background-color: #606060;
}

nav#menu{     


	display: block;
}

nav#menu h1{   /* h1 do Menu de NAV*/

	display: none;

}

nav#menu a{    /* Link do a alteração de cor e tirar a linha abaixo*/

	color: #000000;
	text-decoration: none;
}
nav#menu a:hover{

	color: white;

}

body{  /* corpo principal*/

background-color: #dddddd;
color: rgba(0,0,0,1);
text-align: justify;
font-family: Arial,sans-serif;


}
div#interface{   /* Conteudo da div Interface  */ 


	width: 850px;
	background-color: #ffffff;
	margin: -20px auto 0px auto;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
	padding: 10px 10px 10px 10px;
}

header#cabecalho img#icone{  /* imagem do cabecalho OCULOS*/

	position: absolute; 

	
	top: 40px;
	padding-left: 715px;




}
header#cabecalho {     /* Centralização do glass no cabecalho*/ 

	border-bottom: 1px #606060 solid;
	height: 150px;
	background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 90px;


}

header#cabecalho h1{	/* header h1 do cabecalho*/

	font-family: 'Inconsolata', monospace;
	font-size: 27pt;
	color: #606060;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
	padding: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
}

header#cabecalho h2{  /* header h2 do cabecalho*/

	font-family: 'Inconsolata', monospace;
	font-size: 15pt;
	color: #888888;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
	padding: 0px;
	margin-top: 0px;
}

section#corposection{  /* Corpo centralizado */ 

display: block;
width: 500px;
float: left;
border-right: 1px solid #606060;
padding-right: 15px;



}

table#tabelaspec{

	border: 1px solid #606060;
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;


}

table#tabelaspec td{

	border: 1px solid #606060;
	padding: 10px;
	text-align: center;
	
}

table#tabelaspec td.ce {

	color:  white;
	background-color: #606060;
	vertical-align: top;
	font-weight: bold;



}
table#tabelaspec td.cd {

	background-color: #cecece;




}
table#tabelaspec caption{

	color: #888888;
	font-size: 13pt;
	font-weight: bolder;

}
table#tabelaspec caption span{


	display: block;
	float: right;
	color:  #000000;
	font-size: 8pt;
	margin-top: 10px;
}
footer#rodape{   /* Corpo que vai ficar em baixo */ 

	clear: both;
	border-top: 1px solid #606060;
	

}
footer#rodape p{


	text-align: center;
}
footer#rodape a{

	text-decoration: none;
}

article#noticia-principal h2 {

 	font-size: 13pt;
 	color:  #606060;
 	background-color: #dddddd;
 	padding: 5px 0px 5px 10px;
 	margin: 10px 0px 10px 0px;


}
header#cabecalho-artigo h1{
	

	font-family: Inconsolata, monospace;
	font-size: 20pt;
	color: #606060;
	margin-bottom: 0px;
	margin-top: 0px;

}
header#cabecalho-artigo h2{

	font-size: 13pt;
	font-family: Inconsolata, monospace;
	color: #cecece;
	background-color: #ffffff;
	margin-bottom: 0px;




}header#cabecalho-artigo h3{


font-size: 12px;
color: #606060;


}
.direita{


	text-align: right;
}


aside#lateral{   /* corpo que esta na lateral */ 


	display: block;
	width: 310px;
	float: right;
	background-color: #dddddd;
	padding: 6px;
	margin-top: 10px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
aside#lateral h1{

	font-family: Inconsolata, monospace;
	font-size: 20pt;
	color:  #606060;
	margin-top: 0px; 



}aside#lateral h2{


	background-color: #606060;
	font-size: 13pt;
	color: white;
	padding: 5px;


}
